<div class="nav">
	<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1><a href="/"><span>Logotipo</span></a></h1>
		</div>
		<div class="col-xs-9">
			<ul class="nav nav-pills">
			  <li class="active"><a href="/">Inicio</a></li>
			  <li><a href="/user/registro/">Registro</a></li>
			  {% if user.is_authenticated %}
					<li><a href="/logout/">Salir</a></li>
			  {% else %}
			  		<li><a href="/login/">Login</a></li>
			  {% endif %}
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
			</ul>
		</div>
	</div>
</div>
</div>
